
<head>
    <style type="text/css">
        #Button1 {
            width: 117px;
        }
        #Button2 {
            width: 116px;
        }
        #Button3 {
            width: 118px;
        }
        #TextArea1 {
            height: 122px;
            width: 381px;
        }
        #Select1 {
            width: 206px;
        }
        #Select2 {
            width: 174px;
        }
    </style>
</head>
@{
    ViewBag.Title = "ViewforAdmin";
}

<h2>ViewforAdmin</h2>

<p>
    <input id="Button1" type="button" value="Person" /><select id="Select2" name="D2">
        <option></option>
    </select></p>
<p>
    <input id="Button2" type="button" value="Patienten" /></p>
<p>
    <input id="Button3" type="button" value="Mitarbeiter" /></p>
<p>
    &nbsp;</p>


<p>
    &nbsp;</p>



