
<head>
    <style type="text/css">
        #Button1 {
            width: 112px;
        }
    </style>
</head>
@{
    ViewBag.Title = "ViewforAdminPerson";
}

<h2>ViewforAdminPerson</h2>

<p>
    <input id="Button1" type="button" value="Patienten" /></p>
<p>
    <input id="Button2" type="button" value="Mitarbeiter" /></p>


